#container {
    width: 100vw;
    height: auto;
    position: relative;
    margin: 0 auto;
}
h1 {
display: flex;
justify-content: center;
color: rgb(18, 97, 160);
font-size: 35px;
background-color: rgb(178, 220, 255);
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5px;
    padding: 20px 0;
    box-shadow: 5px 5px 6px rgb(0, 0, 52);
    margin: 0 0 25px 0;  
    
}

