* {
  margin : 0;
  padding: 0;
  box-sizing: border-box;
  
}
body {
  height: 100vh;
  
  /* background-image: url(https://cdn.pixabay.com/photo/2014/12/02/22/05/snowflakes-554635_1280.jpg); */
  background-image: linear-gradient(rgb(19, 92, 182), rgb(0, 0, 0));
 
}



